[data-editable="true"] {
    cursor: pointer;
    min-height: 2rem;
    /* Ensure empty fields are clickable */
    transition: background-color 0.2s ease-in-out;
}

[data-editable="true"]:hover {
    background: var(--color-dark);
}



[data-editable="true"]:focus {
    background: #000;
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
