<div class="card">
    <div class="card-header">Scripts: Jobs</div>
    <div class="card-body">
        <ul class="list-group list-group-flush">

            <li class="list-group-item">
                <a href="#" class="text-decoration-none text-white" data-bs-toggle="modal"
                    data-bs-target="#modalExample">
                    <i class="fas fa-chart-line me-1"></i>
                    <span>Example</span>
                </a>
            </li>


        </ul>

    </div>
</div>

<div class="card">
    <div class="card-header">Scripts: Other</div>
    <div class="card-body">
        <ul class="list-group list-group-flush">

            <li class="list-group-item">
                <a href="#" class="text-decoration-none text-white" data-bs-toggle="modal"
                    data-bs-target="#modalExample">
                    <i class="fas fa-sync me-1"></i>
                    <span>Example</span>
                </a>
            </li>

        </ul>

    </div>
</div>

{% include "scripts/modals/_modal_example.html" %}
