{% extends "base/container.html" %}

{% block title %}Register{% endblock %}

{% block content %}

{% if not registration_enabled %}
<div class="container my-5">
    <p> Registration is currently closed.</p>
</div>
{% endif %}

<div class="container my-5 d-flex justify-content-center p-1">
    <form method="POST">
        <div class="form-group p-2">
            <label for="usernameInput">Username</label>
            <input type="text" class="form-control form-control-sm" id="usernameInput" name="username"
                placeholder="Enter username" {{"disabled" if not registration_enabled }} required>
        </div>
        <div class="form-group p-2">
            <label for="passwordInput">Password</label>
            <input type="password" class="form-control form-control-sm" id="passwordInput" name="password"
                placeholder="Enter password" {{"disabled" if not registration_enabled }} required>
        </div>
        <div class="form-group p-2">
            <label for="passwordConfrimationInput">Confrim Password</label>
            <input type="password" class="form-control form-control-sm" id="passwordConfrimationInput"
                name="password_confirmation" placeholder="Enter password confrimation" {{"disabled" if not
                registration_enabled }} required>
        </div>
        <div class="form-group p-2">
            <label for="fullNameInput">Full Name</label>
            <input type="text" class="form-control form-control-sm" id="fullNameInput" name="full_name"
                placeholder="Enter full name" {{"disabled" if not registration_enabled }} required>
        </div>
        <div class="form-group p-2">
            <label for="emailInput">Email</label>
            <input type="text" class="form-control form-control-sm" id="emailInput" name="email"
                placeholder="Enter email address" {{"disabled" if not registration_enabled }} required>
        </div>

        <div class="form-group form-check p-2 mx-2">
            <input type="checkbox" class="form-check-input" id="agreeTermsInput" name="agree_terms" {{"disabled" if not
                registration_enabled }} required>
            <label class="form-check-label" for="agreeTermsInput">I agree to the <a href="">terms and
                    conditions</a></label>
        </div>

        <div class="d-flex justify-content-end mt-4">
            <button type="submit" class="btn btn-primary mt-3" {{"disabled" if not registration_enabled
                }}>Submit</button>
        </div>
    </form>
</div>




{% endblock content %}
